@model List<Chef>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Chefs | <a asp-controller="Home" asp-action="Dishes">Dishes</a></h1>
</div>
<div>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th># of Dishes</th>
        </tr>
        @foreach (Chef chef in Model)
        {
            <tr>
                <td>@chef.FullName()</td>
                <td>@chef.Age()</td>
                <td>@chef.Dishes.Count</td>
            </tr>
        }
    </table>
</div>