/Algos
/Temp
aspCore/ASPIntro/appsettings.Development.json
aspCore/ASPIntro/appsettings.json
aspCore/ASPIntro/ASPIntro.csproj
aspCore/ASPIntro/Program.cs
aspCore/ASPIntro/Startup.cs
aspCore/ASPIntro/.vscode/launch.json
aspCore/ASPIntro/.vscode/settings.json
aspCore/ASPIntro/.vscode/tasks.json
aspCore/ASPIntro/Controllers/HomeController.cs
aspCore/ASPIntro/Properties/launchSettings.json
aspCore/ASPIntro/Views/Home/index.cshtml
aspCore/ASPIntro/Views/wwwroot/style.css
aspCore/ASPIntro/bin/Debug/netcoreapp3.1/appsettings.Development.json
aspCore/ASPIntro/bin/Debug/netcoreapp3.1/appsettings.json
aspCore/ASPIntro/bin/Debug/netcoreapp3.1/ASPIntro.deps.json
aspCore/ASPIntro/bin/Debug/netcoreapp3.1/ASPIntro.dll
aspCore/ASPIntro/bin/Debug/netcoreapp3.1/ASPIntro.exe
aspCore/ASPIntro/bin/Debug/netcoreapp3.1/ASPIntro.pdb
aspCore/ASPIntro/bin/Debug/netcoreapp3.1/ASPIntro.runtimeconfig.dev.json
aspCore/ASPIntro/bin/Debug/netcoreapp3.1/ASPIntro.runtimeconfig.json
aspCore/ASPIntro/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
aspCore/ASPIntro/obj/ASPIntro.csproj.nuget.dgspec.json
aspCore/ASPIntro/obj/ASPIntro.csproj.nuget.g.props
aspCore/ASPIntro/obj/ASPIntro.csproj.nuget.g.targets
aspCore/ASPIntro/obj/project.assets.json
aspCore/ASPIntro/obj/project.nuget.cache
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/ASPIntro.AssemblyInfo.cs
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/ASPIntro.AssemblyInfoInputs.cache
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/ASPIntro.assets.cache
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/ASPIntro.csproj.AssemblyReference.cache
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/ASPIntro.csproj.CoreCompileInputs.cache
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/ASPIntro.csproj.FileListAbsolute.txt
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/ASPIntro.csprojAssemblyReference.cache
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/ASPIntro.dll
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/ASPIntro.exe
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/ASPIntro.genruntimeconfig.cache
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/ASPIntro.MvcApplicationPartsAssemblyInfo.cache
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/ASPIntro.pdb
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/ASPIntro.RazorAssemblyInfo.cache
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/ASPIntro.RazorAssemblyInfo.cs
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/ASPIntro.RazorTargetAssemblyInfo.cache
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/project.razor.json
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/staticwebassets/ASPIntro.StaticWebAssets.Manifest.cache
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/staticwebassets/ASPIntro.StaticWebAssets.xml
aspCore/ASPIntro/Models/RegisterView.cs
aspCore/ASPIntro/Models/User.cs
aspCore/ASPIntro/Models/VideoView.cs
aspCore/ASPIntro/Views/_ViewImports.cshtml
aspCore/ASPIntro/Views/Home/Guest.cshtml
aspCore/ASPIntro/Views/Home/Register.cshtml
aspCore/ASPIntro/Views/Home/Register2.cshtml
aspCore/ASPIntro/Views/Home/Videos.cshtml
aspCore/obj/Debug/netcoreapp3.1/ASPIntro.AssemblyInfo.cs
aspCore/obj/Debug/netcoreapp3.1/ASPIntro.AssemblyInfoInputs.cache
aspCore/obj/Debug/netcoreapp3.1/ASPIntro.csproj.AssemblyReference.cache
aspCore/SessionDemo/appsettings.Development.json
aspCore/SessionDemo/appsettings.json
aspCore/SessionDemo/Program.cs
aspCore/SessionDemo/SessionDemo.csproj
aspCore/SessionDemo/Startup.cs
aspCore/SessionDemo/.vscode/launch.json
aspCore/SessionDemo/.vscode/tasks.json
aspCore/SessionDemo/Controllers/HomeController.cs
aspCore/SessionDemo/Models/ErrorViewModel.cs
aspCore/SessionDemo/Models/StoryFragment.cs
aspCore/SessionDemo/Models/User.cs
aspCore/SessionDemo/Properties/launchSettings.json
aspCore/SessionDemo/Views/_ViewImports.cshtml
aspCore/SessionDemo/Views/_ViewStart.cshtml
aspCore/SessionDemo/Views/Home/Index.cshtml
aspCore/SessionDemo/Views/Home/Privacy.cshtml
aspCore/SessionDemo/Views/Home/StoryTime.cshtml
aspCore/SessionDemo/Views/Shared/_Layout.cshtml
aspCore/SessionDemo/Views/Shared/_ValidationScriptsPartial.cshtml
aspCore/SessionDemo/Views/Shared/Error.cshtml
aspCore/SessionDemo/obj/project.assets.json
aspCore/SessionDemo/obj/project.nuget.cache
aspCore/SessionDemo/obj/SessionDemo.csproj.nuget.dgspec.json
aspCore/SessionDemo/obj/SessionDemo.csproj.nuget.g.props
aspCore/SessionDemo/obj/SessionDemo.csproj.nuget.g.targets
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/project.razor.json
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/SessionDemo.AssemblyInfo.cs
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/SessionDemo.AssemblyInfoInputs.cache
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/SessionDemo.assets.cache
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/SessionDemo.csproj.AssemblyReference.cache
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/SessionDemo.RazorAssemblyInfo.cache
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/SessionDemo.RazorAssemblyInfo.cs
aspCore/SessionDemo/wwwroot/favicon.ico
aspCore/SessionDemo/wwwroot/css/site.css
aspCore/SessionDemo/wwwroot/js/site.js
aspCore/SessionDemo/wwwroot/lib/bootstrap/LICENSE
aspCore/SessionDemo/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
aspCore/SessionDemo/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
aspCore/SessionDemo/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
aspCore/SessionDemo/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
aspCore/SessionDemo/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
aspCore/SessionDemo/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
aspCore/SessionDemo/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
aspCore/SessionDemo/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
aspCore/SessionDemo/wwwroot/lib/bootstrap/dist/css/bootstrap.css
aspCore/SessionDemo/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
aspCore/SessionDemo/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
aspCore/SessionDemo/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
aspCore/SessionDemo/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js
aspCore/SessionDemo/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
aspCore/SessionDemo/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
aspCore/SessionDemo/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
aspCore/SessionDemo/wwwroot/lib/bootstrap/dist/js/bootstrap.js
aspCore/SessionDemo/wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
aspCore/SessionDemo/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
aspCore/SessionDemo/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
aspCore/SessionDemo/wwwroot/lib/jquery/LICENSE.txt
aspCore/SessionDemo/wwwroot/lib/jquery/dist/jquery.js
aspCore/SessionDemo/wwwroot/lib/jquery/dist/jquery.min.js
aspCore/SessionDemo/wwwroot/lib/jquery/dist/jquery.min.map
aspCore/SessionDemo/wwwroot/lib/jquery-validation/LICENSE.md
aspCore/SessionDemo/wwwroot/lib/jquery-validation/dist/additional-methods.js
aspCore/SessionDemo/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
aspCore/SessionDemo/wwwroot/lib/jquery-validation/dist/jquery.validate.js
aspCore/SessionDemo/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
aspCore/SessionDemo/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
aspCore/SessionDemo/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
aspCore/SessionDemo/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
aspCore/SessionDemo/bin/Debug/netcoreapp3.1/appsettings.Development.json
aspCore/SessionDemo/bin/Debug/netcoreapp3.1/appsettings.json
aspCore/SessionDemo/bin/Debug/netcoreapp3.1/SessionDemo.deps.json
aspCore/SessionDemo/bin/Debug/netcoreapp3.1/SessionDemo.dll
aspCore/SessionDemo/bin/Debug/netcoreapp3.1/SessionDemo.exe
aspCore/SessionDemo/bin/Debug/netcoreapp3.1/SessionDemo.pdb
aspCore/SessionDemo/bin/Debug/netcoreapp3.1/SessionDemo.runtimeconfig.dev.json
aspCore/SessionDemo/bin/Debug/netcoreapp3.1/SessionDemo.runtimeconfig.json
aspCore/SessionDemo/bin/Debug/netcoreapp3.1/SessionDemo.Views.dll
aspCore/SessionDemo/bin/Debug/netcoreapp3.1/SessionDemo.Views.pdb
aspCore/SessionDemo/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/SessionDemo.csproj.CopyComplete
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/SessionDemo.csproj.CoreCompileInputs.cache
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/SessionDemo.csproj.FileListAbsolute.txt
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/SessionDemo.csprojAssemblyReference.cache
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/SessionDemo.dll
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/SessionDemo.exe
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/SessionDemo.genruntimeconfig.cache
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/SessionDemo.MvcApplicationPartsAssemblyInfo.cache
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/SessionDemo.pdb
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/SessionDemo.RazorCoreGenerate.cache
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/SessionDemo.RazorTargetAssemblyInfo.cache
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/SessionDemo.RazorTargetAssemblyInfo.cs
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/SessionDemo.TagHelpers.input.cache
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/SessionDemo.TagHelpers.output.cache
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/SessionDemo.Views.dll
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/SessionDemo.Views.pdb
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/Razor/Views/Home/StoryTime.cshtml.g.cs
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/staticwebassets/SessionDemo.StaticWebAssets.Manifest.cache
aspCore/SessionDemo/obj/Debug/netcoreapp3.1/staticwebassets/SessionDemo.StaticWebAssets.xml
