/Algos
/Temp
aspCore/ASPIntro/appsettings.Development.json
aspCore/ASPIntro/appsettings.json
aspCore/ASPIntro/ASPIntro.csproj
aspCore/ASPIntro/Program.cs
aspCore/ASPIntro/Startup.cs
aspCore/ASPIntro/.vscode/launch.json
aspCore/ASPIntro/.vscode/settings.json
aspCore/ASPIntro/.vscode/tasks.json
aspCore/ASPIntro/Controllers/HomeController.cs
aspCore/ASPIntro/Properties/launchSettings.json
aspCore/ASPIntro/Views/Home/index.cshtml
aspCore/ASPIntro/Views/wwwroot/style.css
aspCore/ASPIntro/bin/Debug/netcoreapp3.1/appsettings.Development.json
aspCore/ASPIntro/bin/Debug/netcoreapp3.1/appsettings.json
aspCore/ASPIntro/bin/Debug/netcoreapp3.1/ASPIntro.deps.json
aspCore/ASPIntro/bin/Debug/netcoreapp3.1/ASPIntro.dll
aspCore/ASPIntro/bin/Debug/netcoreapp3.1/ASPIntro.exe
aspCore/ASPIntro/bin/Debug/netcoreapp3.1/ASPIntro.pdb
aspCore/ASPIntro/bin/Debug/netcoreapp3.1/ASPIntro.runtimeconfig.dev.json
aspCore/ASPIntro/bin/Debug/netcoreapp3.1/ASPIntro.runtimeconfig.json
aspCore/ASPIntro/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
aspCore/ASPIntro/obj/ASPIntro.csproj.nuget.dgspec.json
aspCore/ASPIntro/obj/ASPIntro.csproj.nuget.g.props
aspCore/ASPIntro/obj/ASPIntro.csproj.nuget.g.targets
aspCore/ASPIntro/obj/project.assets.json
aspCore/ASPIntro/obj/project.nuget.cache
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/ASPIntro.AssemblyInfo.cs
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/ASPIntro.AssemblyInfoInputs.cache
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/ASPIntro.assets.cache
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/ASPIntro.csproj.AssemblyReference.cache
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/ASPIntro.csproj.CoreCompileInputs.cache
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/ASPIntro.csproj.FileListAbsolute.txt
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/ASPIntro.csprojAssemblyReference.cache
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/ASPIntro.dll
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/ASPIntro.exe
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/ASPIntro.genruntimeconfig.cache
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/ASPIntro.MvcApplicationPartsAssemblyInfo.cache
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/ASPIntro.pdb
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/ASPIntro.RazorAssemblyInfo.cache
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/ASPIntro.RazorAssemblyInfo.cs
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/ASPIntro.RazorTargetAssemblyInfo.cache
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/project.razor.json
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/staticwebassets/ASPIntro.StaticWebAssets.Manifest.cache
aspCore/ASPIntro/obj/Debug/netcoreapp3.1/staticwebassets/ASPIntro.StaticWebAssets.xml
aspCore/ASPIntro/Models/RegisterView.cs
aspCore/ASPIntro/Models/User.cs
aspCore/ASPIntro/Models/VideoView.cs
aspCore/ASPIntro/Views/_ViewImports.cshtml
aspCore/ASPIntro/Views/Home/Guest.cshtml
aspCore/ASPIntro/Views/Home/Register.cshtml
aspCore/ASPIntro/Views/Home/Register2.cshtml
aspCore/ASPIntro/Views/Home/Videos.cshtml
aspCore/obj/Debug/netcoreapp3.1/ASPIntro.AssemblyInfo.cs
aspCore/obj/Debug/netcoreapp3.1/ASPIntro.AssemblyInfoInputs.cache
aspCore/obj/Debug/netcoreapp3.1/ASPIntro.csproj.AssemblyReference.cache
