@*
    Use a lowercase 'm' to specify what data the model is
    Use an uppercase 'M' to retrieve the data.
*@

@* @model ASPIntro.Models.VideosView *@

@* This require Views/_ViewImports.cshtml *@
@model VideosView

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/styles.css">
</head>

<body class="bg-dark text-light container">

    <h2>Cool Videos</h2>
    <a href="/">Home</a>
    <p>@ViewBag.Message</p>
    <p>Random Number: @Model.RandomNumber</p>

    <div>
    @foreach (string id in Model.YoutubeVideoIds)
    {
        string someVar = "hi";

        <iframe style="margin-right: 10px;" width="560" height="315" src="https://www.youtube.com/embed/@id"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

    }

    @* <video controls>
        <source src="~/Left-Hand-Climbing.mp4" type="video/mp4">
      </video> *@

    </div>
</body>

</html>